﻿/*Custom Style*/
body {
}

#Header {
    height: 100px;
    padding-top: 10px;
    background-color: rgb(22,67,133);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 17px 2px rgba(0,0,0,0.75);
}

#Body {
    position: absolute;
    left: 300px;
    right: 0px;
    padding: 30px;
    top: 100px;
}

@media (max-width: 767px) {
    #Body {
        position: relative;
        left: 0px;
        right: 0px;
        padding: 30px;
        top: 0px;
    }
}

.nomargin {
    margin: 0;
}

.nopadding {
    padding: 0;
}

.bodyContainer {
    width: auto;
    max-width: 500px;
}

#accordion .glyphicon {
    margin-right: 10px;
}

#events img{
    margin-right: 10px;
}
